{% extends "base.html" %} 

{% load static %}
{% load carts_tags %}
{% user_carts request as carts %}

{% block css %}
   <link rel="stylesheet" href="{% static "deps\style.css" %}">
{% endblock css %}

{% block navigator %}
<section id="header">
  <a href="#"><img src="{% static "deps/images/logo.png" %}" class="logo" alt=""></a>
  <div> 
    <ul id="navbarNavAltMarkup">
        <li>
            <a href="{% url "main:index" %}" >КАТАЛОГ</a>
          </li>
     <li>
        <a href="{% url "main:about" %}">О НАС</a>
     </li>
      <li>
        <a href="buy.html">МОИ ЗАКАЗЫ</a>
      </li>
      <li>
        <a href="contacts.html">КОНТАКТЫ</a>
      </li>
        <a class="pad-1" href="{% url "carts:cart" %}"><img src="{% static "deps/images/photopicnic-basket_4487208 1.png" %}" id="cart-icon" data-quantity="0" width="50px" height="50px"></a>
        <a class="pad-1" href="{% url "users:profile" %}"><img src="{% static "deps/images/prof.jpg" %}" width="50px" height="50px"></a>
    </ul>
  </div>
</section>
{% endblock navigator %}

{% block content %}
<section id="cart" class="section-p1">
    <h2 class="cart-s-title">Корзина</h2>
    <a href="{% url "main:index" %}" class="back-homepage">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span>Главный</span>
    </a>
    <div class="cart-box">
        <div class="cart-data">
            <div id="cartItems"></div>
        </div>
        {{carts}}
        <div class="cart-t">
          <table width="100">
            <thead>
              <tr>
                <td>Удалить</td>
                <td>Фото</td>
                <td>Товар</td>
                <td>Размер</td>
                <td>Количество</td>
                <td>Цена</td>
              </tr>
            </thead>
            <tbody>
              {% user_carts request as carts %}
            {% for cart in carts  %} 
              <tr>
                <td><a href="{% url "carts:cart_remove" cart.id %}"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
                <td><img src="{{cart.product.image.url}}" alt=""></td>
                <td>{{cart.product.name}}</td>
                <td>37-42</td>
                <td><input type="number" value="{{cart.quantity}}"></td>
                 <td>{{ cart.product.price}}р.</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</section>
<section id="cart-add" class="section-p1">
  <div id="subtotal">
    <table>
      <tr>
        <td>Цена</td>
        <td>{{ carts.total_price }}p.</td>
      </tr>
      <tr>
        <td>Доставка</td>
        <td>Бесплатно</td>
      </tr>
      <tr>
        <td><strong>Итого</strong></td>
        <td><strong>{{ carts.total_price }}</strong></td>
      </tr>
    </table>
    <a href="{% url "goods:checkout" %}"><button class="normal"><strong>Оформить заказ</strong></button></a> 
  </div>

</section>
{% endblock content %}
