{% extends "base.html" %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static "deps\style.css" %}">
{% endblock css %}
{% block content %}
  <body>
    <div class="row justify-content-center">
    <div class="mb-3">

    <div class="form-container">
      <!-- Форма авторизации (по умолчанию) -->
      <div id="login" class="form-section " >
        <h2>Добро пожаловать в ZA’I!</h2>
        <form action ="{% url "users:login" %}" method ="post">
          {% csrf_token %}

         <!-- Поле Email -->
<div class="mb-3">
  <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
  {% for item in form %}
  <div class="mb-3">
      <label for="{{ item.id_for_label }}" class="form-label">{{ item.label }}</label>
      {{item}}
  {% if item.errors %}
      <div class="alert alert-danger">
          {% for error in item.errors %}
              <p>{{ error }}</p>
          {% endfor %}
      </div>
  {% endif %}
</div>
   {% endfor %}
          <button type="submit" class="btn--md">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url "users:registration" %}">Зарегистрироваться</a></p>
      </div>
   </div>
</div>
</div>
{% endblock  %}