{% extends "base.html" %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static "deps\style.css" %}">
{% endblock css %}
{% block content %}
  <body>
    <div class="row justify-content-center">
    <div class="mb-3">

    <div class="form-container">

      <!-- Форма регистрации, скрытая по умолчанию -->
      <div id="registration" class="form-section" >
        <h2>Добро пожаловать в ZA’I!</h2>
        <form action="{% url 'users:registration' %}" method="post">
          {% csrf_token %}
         
          {% for item in form %}
          <div class="mb-3">
              <label for="{{ item.id_for_label }}" class="form-label">{{ item.label }}</label>
              {{item}}
              {% if item.errors %}
              <div class="alert alert-danger">
                  {% for error in item.errors %}
                  <p>{{ error }}</p>
                  {% endfor %}
              </div>
              {% endif %}
          </div>
          {% endfor %}
             <button type="submit" class="btn--md">Зарегистрироваться</button>
      </form>
      <p>Уже есть аккаунт? <a href="{% url 'users:login' %}">Войти</a></p>
      
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}