{% extends "main/base.html" %}

{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static "deps\style.css" %}">
{% endblock css %}

{% block navigator %}
<section id="header">
    <a href="#"><img src="images/logo.png" class="logo" alt=""></a>
    <div> 
      <ul id="navbarNavAltMarkup">
          <li>
              <a  href="{% url "main:index" %}" >КАТАЛОГ</a>
            </li>
       <li>
          <a class="active" href="{% url "main:about" %}">О НАС</a>
       </li>
        <li>
          <a href="buy.html">МОИ ЗАКАЗЫ</a>
        </li>
        <li>
          <a href="contacts.html">КОНТАКТЫ</a>
        </li>
          <a class="pad-1" href="{% url "goods:cart" %}"><img src="{% static "deps/images/photopicnic-basket_4487208 1.png" %}" id="cart-icon" data-quantity="0" width="50px" height="50px"></a>
          <a class="pad-1" href="profile.html"><img src="{% static "deps/images/prof.jpg" %}" width="50px" height="50px"></a>
      </ul>
    </div>
  </section>
  {% endblock navigator  %}

{% block content %}
<section id="page-header" class="about-header">
    <h2>{{content}}</h2>
</section>
<section id="about-head" class="section-p1">
  <div class="par">
   <img src="{% static "deps/images/фото.png" %}" alt="">
       <p>В ZA'I мы верим, что одежда – это не просто ткань, а способ самовыражения, отражение индивидуальности и комфорт, который сопровождает вас каждый день. 
          Наша история началась с маленькой мечты и большой любви к качественным вещам. Все начиналось на площадке Wildberries, где мы впервые представили наш бренд и
          начали свой путь с небольшого, но тщательно отобранного ассортимента – уютных и практичных носков. Это был первый шаг к созданию бренда, который бы предлагал не только удобство, но и стиль.
          <br><br>
          Опыт работы на Wildberries стал для нас бесценным уроком. Мы научились понимать потребности наших покупателей, анализировать рыночные тренды и постоянно совершенствовать качество нашей продукции. 
          Мы внимательно следили за отзывами, учитывали пожелания и стремились к постоянному улучшению. Этот опыт помог нам заложить фундамент для дальнейшего развития ZA'I и расширения ассортимента. 
  </div>
  <div class="par-1">  
  <p>Сегодня ZA'I – это уже не просто носки. Мы предлагаем широкий выбор стильной и комфортной одежды для женщин и детей. В нашем каталоге вы найдете:

      <p>• Женская одежда: платья, юбки, блузки, брюки – все, что нужно для создания неповторимого образа на каждый день и для особых случаев. Мы стараемся учитывать разные стили и предпочтения, предлагая как классические модели, так и модные новинки.</p>
          
      <p>• Детская одежда: удобные и практичные вещи для ваших малышей и подростков, изготовленные из высококачественных и гипоаллергенных материалов. Мы заботимся о комфорте ваших детей и предлагаем яркие и оригинальные модели, которые понравятся и вам, и вашим малышам.</p>
          
      <p>Мы осознаем важность качества на каждом этапе – от выбора материалов до отшива и доставки. Поэтому мы работаем только с надежными поставщиками и тщательно контролируем качество каждой единицы товара.</p>
          
      <p>Наша миссия – создавать одежду, которая приносит радость и комфорт. Мы стремимся к тому, чтобы каждая покупка в ZA'I становилась приятным и незабываемым событием. Мы всегда открыты для ваших предложений и готов учитывать ваши пожелания.</p>
          
      <p>Присоединяйтесь к нашему сообществу и откройте для себя мир стиля и комфорта от ZA'I!</p>
  </div>
  <div></div>
</section>
{% endblock content %}