{% extends "base.html" %}

{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static "deps\style.css" %}">
{% endblock css %}

{% block navigator %}
    <section id="header">
      <a href="#"><img src="{% static "deps/images/logo.png" %}" class="logo" alt=""></a>
      <div> 
        <ul id="navbarNavAltMarkup">
          <li>
            <a  href="{% url "main:index" %}" >КАТАЛОГ</a>
          </li>
          <li>
            <a class="active" href="{% url "main:about" %}">О НАС</a>
          </li>
          <li>
            <a href="">МОИ ЗАКАЗЫ</a>
          </li>
          <li>
            <a href="#contacts">КОНТАКТЫ</a>
          </li>
          {% if user.is_admin or user.is_staff%}
          <li>
            <a href="{% url "admin:index" %}">Админ</a>
          </li>
          {% endif %}
            {% if not user.is_authenticated %}
             <a class="pad-1" href="{% url "users:login" %}"><img src="{% static "deps/images/prof.jpg" %}" width="50px" height="50px"></a>
              <a class="pad-1" href="{% url "users:login" %}"><img src="{% static "deps/images/photopicnic-basket_4487208 1.png" %}" id="cart-icon" data-quantity="0" width="50px" height="50px"></a>
              <a class="pad-2" href="{% url "users:login" %}"><img src="{% static "deps\images\photo_2025-01-11_23-00-19.jpg" %}" width="50px" height="50px"></a>
            {% else %}
              <a class="pad-1" href="{% url "goods:cart" %}"><img src="{% static "deps/images/photopicnic-basket_4487208 1.png" %}" id="cart-icon" data-quantity="0" width="50px" height="50px"></a>
             <a class="pad-1" href="{% url "users:profile" %}"><img src="{% static "deps/images/prof.jpg" %}" width="50px" height="50px"></a>
             <a class="pad-2" href="{% url "users:logout" %}"><img src="{% static "deps\images\Frame 46@2x.png" %}" width="50px" height="50px"></a>
            {% endif %}
            </ul>
      </div>
    </section>
{% endblock navigator %}

{% block content %}
<section id="page-header" class="about-header">
  <div class="par">
      <div class="image-container">
          <div class="top-images">
              <img src="{% static "deps/images/вайлд1.jpg" %}" class="top-img" alt="Фото 1">
              <img src="{% static "deps/images/вайлд2.jpg" %}" class="top-img" alt="Фото 2">
          </div>
          <img src="images/фото.png" alt="Основное фото">
      </div>
      <div class="text-container">
      <h3>Одежда, которая отражает вас</h3>
      <p>В ZA'I мы уверены: одежда – это не просто ткань, а способ выразить себя. Она должна быть удобной и подчеркивать вашу индивидуальность.</p>
      <h3>Наша история</h3>
      <p>Все началось с мечты и любви к качеству. Мы сделали первый шаг на платформе Wildberries, предложив уютные и практичные носки. Этот опыт научил нас:

        <li>понимать желания покупателей,</li>
        <li>следить за трендами,</li>
        <li>и совершенствовать качество</li>
        
    <div class="par-1">
      <h3>Сегодня ZA'I – это больше, чем носки</h3>
      <p>Теперь мы создаем стильную и комфортную одежду:

        <li><strong>Женская одежда:</strong> платья, юбки, блузки, брюки – классика и тренды для любых случаев.</li>
        <li><strong>Детская одежда:</strong>вещи из гипоаллергенных материалов для малышей и подростков.</li>
      
      <h3>Почему выбирают ZA'I</h3>
      <p>Мы контролируем качество на каждом этапе:

        <li>от выбора материалов до доставки,</li>
        <li>сотрудничая с надежными поставщиками.</li>
      
      <h3>Наша миссия</h3>
      <p>Мы создаем одежду, которая дарит радость и комфорт. Каждая покупка в ZA'I – это особенное событие.</p>
      
      <h3>Присоединяйтесь к нам!</h3>
      <p>Вместе откроем мир стиля и удобства. Мы всегда рады вашим пожеланиям и готовы улучшаться для вас!</p>

    </div>
</section>
{% endblock content %}