{% extends "base.html" %}

{% load static %}
 
{% load main_tags %}

{% block css %}
   <link rel="stylesheet" href="{% static "deps\style.css" %}">
{% endblock css %}

{% block navigator %}
<!-- Модальное окно для авторизации и регистрации -->
<div class="modal" id="loginModal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <div class="form-container">
      <!-- Форма авторизации (по умолчанию) -->
      <div id="login" class="form-section active">
        <h2>Добро пожаловать в ZA’I!</h2>
        <form action ="{% url "main:login" %}" method ="post">
          {% csrf_token %}
          <label for="id_email"></label>
          <input type="text" class="form-control" value ="{% if form.email.value %}{{form.email.value}}{% endif %}" name="email" id="id_email" placeholder="Введите email или номер телефона" required>
          <label for="id_password"></label>
          <input type="password" class="form-control" name="password"id="id_password" placeholder="Введите пароль" required>
          <button type="submit" class="btn--md">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="javascript:void(0);" onclick="showRegisterForm()">Зарегистрироваться</a></p>
      </div>

      <!-- Форма регистрации, скрытая по умолчанию -->
      <div id="register" class="form-section" style="display: none;">
        <h2>Добро пожаловать в ZA’I!</h2>
        <form action="{% url "main:registration" %}" method ="post">
          {% csrf_token %}
          <label for="id_email"></label>
          <input type="email" id="id_email" 
           value= "{% if form.email.value %}{{form.email.value}}{% endif %}"
           name="email"
           placeholder="Введите email" required>
           {% if form.email.errors %}
           <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
           {% endif %}
           
          <label for="id_phone"></label>
          <input type="text" id="id_phone" 
           value ="{% if form.phone.value %}{{form.phone.value}}{% endif %}"
           name="phone"
           placeholder="Введите номер телефона" required>
           {% if form.phone.errors %}
           <div class="alert alert-danger alert-dismissible fade show">{{form.phone.errors}}</div>
           {% endif %}
           
          <label for="id_name"></label>
          <input type="text" id="id_name"
           value="{% if form.username.value %}{{form.username.value}}{% endif %}"
           name="username"
           placeholder="Введите имя" required>
           {% if form.name.errors %}
           <div class="alert alert-danger alert-dismissible fade show">{{form.name.errors}}</div>
           {% endif %}

          <label for="id_password"></label>
          <input type="password" id="id_password"
           value="{% if form.password.value %}{{form.password.value}}{% endif %}"
           name="password"
           placeholder="Введите пароль" required>
           {% if form.password.errors %}
           <div class="alert alert-danger alert-dismissible fade show">{{form.password.errors}}</div>
           {% endif %}
          <button type="submit" class="btn--md">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="javascript:void(0);" onclick="showLoginForm()">Войти</a></p>
      </div>
    </div>
  </div>
</div>
    <section id="header">
      <a href="#"><img src="{% static "deps/images/logo.png" %}" class="logo" alt=""></a>
      <div> 
        <ul id="navbarNavAltMarkup">
          <li>
            <a class="active" href="{% url "main:index" %}" >КАТАЛОГ</a>
          </li>
          <li>
            <a href="{% url "main:about" %}">О НАС</a>
          </li>
          <li>
            <a href="">МОИ ЗАКАЗЫ</a>
          </li>
          <li>
            <a href="#contacts">КОНТАКТЫ</a>
          </li>
            <a class="pad-1" href="{% url "goods:cart" %}"><img src="{% static "deps/images/photopicnic-basket_4487208 1.png" %}" id="cart-icon" data-quantity="0" width="50px" height="50px"></a>
            <a class="pad-1" href="{% url "user:profile" %}"><img src="{% static "deps/images/prof.jpg" %}" width="50px" height="50px"></a>
            <a class="pad-2" href="javascript:void(0);" id="loginIcon"><img src="{% static "deps\images\photo_2025-01-11_23-00-19.jpg" %}" width="50px" height="50px"></a>
        </ul>
      </div>
    </section>
{% endblock navigator %}
{% block content %}
<selection>
  <div class="banner">
    <div>
       <p class="landing">Собирайтесь вместе с нами</p>
       <div class="landing1">
         <p class="lan-1">в школу,</p>
         <p class="lan-2">на работу</p>
         <p class="lan-3">или просто на прогулку!</p>
       </div>
     </div>
    <div class="big-land">
      <p class="big-land1">КЛАССИКА И НОВАТОРСТВО</p>
      <p class="big-land2">В ОДНОМ СТИЛЕ!</p>
    </div>
 </div>
</selection>
<div>
  <div class="w-clothes">
    <p class="w-brand">ZA'I</p>
    <p class="w-land one-land">ЖЕНСКАЯ</p>
     <p class="w-land two-land">одежда</p>
     <a href="{% url "goods:women" %}"><img class="arrow" src ="{% static "deps/images/left-chevron_12428509.png" %}" width="50px" height="50px"></a>
  </div>
  <article class="ch-clothes">
    <p class="w-brand">ZA'I</p>
    <p class="w-land one-land">ДЕТСКАЯ</p>
     <p class="w-land two-land">одежда</p>      
     <a href="{% url "goods:baby" %}"><img class="arrow" src ="{% static "deps/images/left-chevron_12428509.png" %}" width="50px" height="50px"></a>
  </article>
</div>
<div >
  <p class="factory"><img src="{% static "deps/images/factory.png" %}"width="31px" height="30px">Собственное производство</p>
  <p class="quality"><img src="{% static "deps/images/quality.png" %}" width="28px" height="25px">Полный контроль качества ткани</p>
  <img class="line-1"src="{% static "deps/images/Line 1.png" %}">
</div>
<div class="back-cat">
  <p class="catalog-r">КАТАЛОГ</p>
  <P class="catalog">catalog</P>
</div>
<section class="ser-1">
  <nav class="navbar navbar-expand-lg bg"data-bs-theme="white">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="filter nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Фильтры
            </a>
            <ul class="dropdown-menu">
              <form  action ="{% if request.GET.q %}{% url "main:search" %}{% else %}{% url "main:index" %}{% endif %}" method="get">
              <li>
                <input class="form-check-input" type ="radio"name="order_by" id="flexRadioDefault1" value="default" checked>
                <label class="form-check-label" for="flexRadioDefault1">По умолчанию</label>
              </li>
              <li>
                <input class="form-check-input" type ="radio"name="order_by" id="flexRadioDefault1" value="price" c>
                <label class="form-check-label" for="flexRadioDefault1">От дешевых к дорогим</label>
              </li>
              <li>
                <input class="form-check-input" type ="radio"name="order_by" id="flexRadioDefault1" value="-price">
                <label class="form-check-label" for="flexRadioDefault1">От дорогих к дешевым</label>
              </li>
              <button type="submit" class="btn btn-primary mx-3 mt-3">Применить </button>
            </ul>
          </li>
        </form>
        </ul>
        <form class="d-flex" role="search" action ="{% url "main:search"%}" method="get">
          <input class="form-control me-2" type="search" name="q" placeholder="Поиск товаров" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Найти</button>
        </form>
      </div>
    </div>
  </nav>
  <div id="products-middle" class="product-container">
    {% for sproducts1 in main %}
    <div class="pro"> <a href="{% url "main:sproduct1" sproducts1.slug  %}">
            {% if sproducts1.image %}
              <img src="{{sproducts1.image.url}}" alt="{{sproducts1.name}}">

            {% endif %}
            <div class="content">
                <h1>{{sproducts1.price}}р.</h1>
                <span>{{sproducts1.name}}</span>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
            </div>
          </a>
        </div>
    {% endfor %}
</div>

  <div class="rewind-pages">

    <a {% if not main.has_previous%}style="pointer-events: none; opacity: 0.5;"{% endif %} 
     href="{% if main.has_previous %}
     ?{% change_params page=main.previous_page_number %}
     {% else %}#
     {% endif %}"
    <i class="fa fa-arrow-left"aria-hidden="True"></i></a>

    {% for page in main.paginator.page_range %}
    <a {% if main.number == page %}style="pointer-events: none; opacity: 0.5;"
      {% endif %} href="?{% change_params page=page %}">{{page}}</a>
      {% endfor %}

    <a {% if not main.has_next %}style="pointer-events: none; opacity: 0.5;"{% endif %} 
     href="{% if main.has_next %}
     ?{% change_params page=main.next_page_number%}
     {% else %}#
     {% endif %}"
    <i class="fa fa-arrow-right"aria-hidden="True"></i></a>
  </div>
{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script scr="script.js"></script>
    <script>
      // Открытие модального окна при клике на иконку
      document.getElementById('loginIcon').addEventListener('click', function() {
        document.getElementById('loginModal').style.display = 'block';
      });
    
      // Закрытие модального окна при клике на крестик
      document.getElementById('closeModal').addEventListener('click', function() {
        document.getElementById('loginModal').style.display = 'none';
      });
    
      // Функция для показа формы регистрации
      function showRegisterForm() {
        document.getElementById('login').style.display = 'none';  // Скрыть форму входа
        document.getElementById('register').style.display = 'block';  // Показать форму регистрации
      }
    
      // Функция для показа формы входа
      function showLoginForm() {
        document.getElementById('register').style.display = 'none';  // Скрыть форму регистрации
        document.getElementById('login').style.display = 'block';  // Показать форму входа
      }
       // Открываем модальное окно, если нужно (после неверного логина)
         window.onload = function() {
           const urlParams = new URLSearchParams(window.location.search);
           const show_login_modal = urlParams.get('show_login');
           if(show_login_modal) {
              document.getElementById('loginModal').style.display = 'block';
           }
        };
    </script>
    </script>    
   {% endblock javascript %}